h1{
    text-align: center;
    color: black;
}
body{
    background-image:linear-gradient(
        115deg,
        rgba(243, 243, 250, 0.8),
        rgba(67, 120, 44, 0.7)
<<<<<<< HEAD
        ),url(/background.jpg);
=======
        ),url(6535.removed.jpg);
>>>>>>> ab52b102afce7ec505e59da12596a2c8b84cf93a
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
li{
    font-size: 18px;
}
p{
    font-size: 18px;
}
a {
    color: black;
}
  
a:visited {
    color: black;
}
  
a:hover {
    color: brown;
}
  
a:active {
    color: brown;
}
