h1{
    text-align: center;
    color: black;
}
body{
    background-image:linear-gradient(
        115deg,
        rgba(243, 243, 250, 0.8),
        rgba(67, 120, 44, 0.7)
        ),url(https://github.com/ABHIRAM3046/Portfolio/blob/5c74fdd8e0ba13755167dcc6bfa0f98be86fd32f/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
li{
    font-size: 18px;
}
p{
    font-size: 18px;
}
a {
    color: black;
}
  
a:visited {
    color: black;
}
  
a:hover {
    color: brown;
}
  
a:active {
    color: brown;
}
